# Built and prebuilt binaries
binaries/system/*
!binaries/system/*.bat
!binaries/system/readme.txt

# Workspaces
build/workspaces/codeblocks/
build/workspaces/gcc/
build/workspaces/xcode3/
build/workspaces/xcode4/
build/workspaces/vc2013
build/workspaces/vc2015
build/workspaces/vs2017

# Libraries
libraries/macos
libraries/win32

libraries/source/cxxtest-4.4/*
libraries/source/fcollada/*
libraries/source/nvtt/*
libraries/source/spidermonkey/*
libraries/source/spirv-reflect/*
!libraries/source/**/build.sh
!libraries/source/**/patches/

# Tools
archives/
source/tools/spirv/rules.*.json

# premake5 build files, adapted from upstream
build/premake/premake5/**/.gitignore
build/premake/premake5/**/.travis.yml
build/premake/premake5/.editorconfig
build/premake/premake5/.github/
build/premake/premake5/Bootstrap.*
build/premake/premake5/CONTRIBUTING.md
build/premake/premake5/FUNDING.yml
build/premake/premake5/appveyor.yml
build/premake/premake5/bin/release/premake5
build/premake/premake5/build/*/obj/
build/premake/premake5/build/codelite*
build/premake/premake5/build/gmake2.windows/
build/premake/premake5/build/vs200*/
build/premake/premake5/build/vs201[0-5]/
build/premake/premake5/build/xcode4/
build/premake/premake5/packages/
build/premake/.already-built
build/premake/.gccmachine.tmp
build/premake/.gccver.tmp

# Docs build folder
docs/doxygen/output/

# Build files (cpp)
*.a
*.dylib
*.dSYM
*.exp
*.ilk
*.lib
*.pdb
*.so
*.so.*

# Build files (tools)
*.pyc
*.pyo
__pycache__/

# Build files (libs)
*.o
*.lo
*.la

# Test .cpp files (generated during the build)
test_*.cpp
stub_*.cpp
!test_setup.cpp

# Translation files
binaries/data/mods/public/gui/credits/texts/translators.json
*.po
*.pot

# Packaged mods and tarballs
*.pyromod
*.zip
*.tar
*.tar.bz2
*.tar.gz
*.tar.xz

# Art source files
*.blend
*.obj
*.psd
*.raw

# Art unsupported by the engine
binaries/data/mods/**/*.bmp
binaries/data/mods/**/*.jpg

# Vulkan SPIR-V shaders
binaries/data/mods/*/shaders/spirv

# Windows specific data
desktop.ini
Thumbs.db

# macOS specific data
.DS_Store

# IDE files
/.vs/
/.vscode/
/.idea/
